
* {
    font-family: "Inter", sans-serif !important;
}

:root {
    --bg-color: #121619;
    --font-color: #F7FFF6;
    --first-color: #63C132;
    --second-color: #19310D;
    --third-color: #DEF3D2;
}

body {
    
    background-color: var(--bg-color);
    color: var(--font-color);
}




button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--first-color);
    color: var(--font-color);
    border: none;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

/* Увеличение при hover */
button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Уменьшение при нажатии */
button:active {
    transform: scale(0.95);
}



#nav li a {
    display: inline-block;
    color: var(--font-color);
    background: linear-gradient(currentColor 0 0)
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-size 0.5s;
    user-select: none;
    cursor: pointer;
    
}


#nav li a:hover {
    transform: scale(1.1);
    --underline-width: 100%;
}

#nav li a:active {
    transform: scale(0.95);
}




#nav {

    list-style: none;
    display: flex;
    justify-content:space-between;
}

